@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


*{
  background:linear-gradient(90deg , #538FFB 0%, #5B54FA 100%) ;
  font-family: 'Montserrat';
}
span{
  background: transparent;
font-size: 80px;
}
.first{
text-align: center;
margin-top: 300px; 
}


h1{
  font-size: 60px;
}

p{
  background: transparent;

    letter-spacing: 4px;
    font-weight: 400;
  }
.btn{
  background:transparent;
  color: #1f1f1f;
   border-radius: 80px; 
  padding: 5px 12px;
  font-weight:800 ;
  font-size: 15px;
  cursor: grab;
  transition: color,30ms;
  margin-top: 5px;
}
.btn:hover{
  color: #FFFF;
}
.lco{
  /* background-color: #ffff;  */
  transition: 30ms;
} 
.lco:hover{
  background-color: #1f1f1f;
}